* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

form {
  display: flex;
}

body {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  border: 1px solid purple;
  width: 900px;
  display: flex;
  flex-direction: column;
}

.right-box {
  border: 1px solid blue;
  width: 50%;
}

.left-box {
  border: 1px solid red;
  width: 50%px;
}
